{% extends 'mailing/base.html' %}

{% block content %}

    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$ 140</h1>
                            <li>{{ object.description|truncatechars:100 }}</li>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a href="{% url 'mailing:view' object.pk %}"
                                   class="btn btn-sm btn-outline-secondary">view</a>
                                {% if request.user.id == object.user_id %}
                                    <a href="{% url 'mailing:edit' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">edit</a>
                                    <a href="{% url 'mailing:delete' object.pk %}"
                                       class="btn btn-sm btn-outline-danger">delete</a>
                                {% else %}
                                    <a href="{% url 'mailing:view' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">edit</a>
                                    <a href="{% url 'mailing:view' object.pk %}"
                                       class="btn btn-sm btn-outline-danger">delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-2">
            <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:create_mailing' %}">
                Добавить рассылку
            </a>
        </div>
    </div>

{% endblock %}
